<%# creating static-page 'frontend' index pg %>

<section class=" Quiz1 - Project ">
  <header class="header">

  <h1> You Have Three Wishes ! Make One Now !! </h1>

  </header>

  <section class="main">
    <body>

    </body>

  </section>


    <h2>A webpage, created by:
  <%= link_to "John Gorden","http://github.com/jcgdxn" %></h2>


</section>
